doctype html
head
  link(rel='stylesheet' href='/css/auth.css')
  link(rel="stylesheet", href="/css/auth-queries.css")
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title= title
.top-background
.bottom-background
.flex
    block content 
script(src='https://kit.fontawesome.com/fca77f975c.js' crossorigin='anonymous')
script(src="https://js.stripe.com/v3/") 
script(src="/js/dist/index.js") 