extends _input

block content 
  head 
    link(rel="stylesheet", href="/css/login-queries.css")
    .login-box
      h1.primary-heading Recover Your Account
      form.forget-password-form
        .row
          label(for='username') Email
          input.email(type='email' name='username' required placeholder="yourmail@gmail.com")
        .row
        button.recovery-btn(type='submit') Submit
        .message-container
          h3.err-message Don&apos;t Hesitate