extends _oath-base


block content 
    .otp-form 
      .otp-icon-and-text
        i.fa-solid.fa-lock.otp-icon
        p.otp Reset password
        p.otp-text Enter your new password
      form.reset-password-form(action='')
        .cloumn
          input.input.input-password(placeholder='New password' pattern='(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{8,}' type='text' required  title='password must contain 8 character with atleast 1 lowercase character and 1 uppercase character')
          label.message.err-passsword-messsage 
        .column 
          input.input.input-confirm-password(placeholder='Confirm password' type='password' required pattern='(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{8,}'   title='New password and confirm password must be same')
          label.message.err-confirm-password-msg
        button#green.btn.reset-password-btn(type="submit" data-token=`${token}`) Ok      

